doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jisho.css')
    script(src = 'https://code.jquery.com/jquery-2.1.4.min.js')
  body
    block content